<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="CommonExtensions\Microsoft\TeamFoundation\Team Explorer;PublicAssemblies;PrivateAssemblies;PrivateAssemblies\DataCollectors;PrivateAssemblies\DataCollectors\x86;"/>
    </assemblyBinding>
  </runtime>
</configuration>