<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DataCollectorConfiguration" type="Microsoft.VisualStudio.TestTools.Execution.DataCollectorConfigurationSection, Microsoft.VisualStudio.QualityTools.ExecutionCommon, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a "/>
  </configSections>
  <DataCollectorConfiguration xmlns="http://microsoft.com/schemas/VisualStudio/TeamTest/2010">
    <DataCollector typeUri="datacollector://Microsoft/AspNetProfiler/1.0">
      <DefaultConfiguration>
        <ProfilerConfiguration xmlns="">
          <SamplingInterval>10000000</SamplingInterval>
          <CollectBoundaryData>true</CollectBoundaryData>
          <Targets>
            <Services>
              <Service>iisadmin</Service>
              <Service>was</Service>
              <Service>w3svc</Service>
            </Services>
            <Processes>
              <Process>w3wp.exe</Process>
              <Process>aspnet_wp.exe</Process>
            </Processes>
          </Targets>
        </ProfilerConfiguration>
      </DefaultConfiguration>
    </DataCollector>
  </DataCollectorConfiguration>
</configuration>
